body {
    background: #333;
}

.wrapper {
    margin: 30px;
    height: 200px;
    display: inline-block;
}

.eq {
    display: inline-block;
    width: 40px;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    vertical-align: bottom;
    background: repeating-linear-gradient(180deg, transparent, 
    transparent 18px, #333 18px, #333 20px),  
    linear-gradient(180deg, #FFCD55, #FF8D02);
}

.frequency1 {
    height: 50%;
}

.frequency2 {
    height: 20%;
}

.frequency3 {
    height: 80%;
}

.frequency4 {
    height: 100%;
}

.frequency5 {
    height: 50%;
}

.frequency6 {
    height: 30%;
}