<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TextFileDALUsersKey" value="users.txt"/>
    <add key="TextFileDALUsersIdKey" value="maxIdUsers.txt"/>
    <add key="TextFileDALAwardsKey" value="awards.txt"/>
    <add key="TextFileDALAwardsIdKey" value="maxIdAwards.txt"/>
    <add key="TextFileDALAwardUsersKey" value="awardUsers.txt"/>
    <add key="UsersDAOKey" value="textFile"/>
    <add key="AwardsDAOKey" value="textFile"/>
    <add key="AwardUsersDAOKey" value="textFile"/>
    <add key="AwardsUsersDAOKey" value="textFile"/>
    
  </appSettings>
</configuration>