body {
    margin: 0;
    font-family: sans-serif;
}
.buttons button {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 12px;
}
.wrapper {
    margin: 40px auto;
    width: 400px;
}

.wrapper article {
    display: inline-block;
    text-align: center;
    margin: 10px
}

.optionsField select {
    width: 130px;
    height: 130px;
}

.optionsField option {
    font-size: 16px;
}

.buttons {
    vertical-align: super;
}

